.App {
  text-align: center;
  background-image: url("../../../public/images/brickbackground.jpg");
  background-size: cover;
  background-position: center center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.grid-container{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 1em;
  row-gap: 2.5em;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;
}


.button {
  padding: 15px 25px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4d4b4b;
  border: none;
  border-radius: 15px;

}

.button:hover {background-color: #aa2504}

.button:active {
  background-color: #aa2504;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

img {
  /* border: 5px solid rgb(63, 63, 63); */
  border-radius: 7px;
  box-shadow: 10px 10px 5px rgb(97, 97, 97);
  max-width: 80%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.descContainer {
  width: 100px;
  height: 195px;
  border: 5px solid rgb(63, 63, 63);
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(97, 97, 97);
  font-family: 'Geneva', 'arial', 'sans-serif';
  font-weight: bold;
  font-size: 1.0em;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 198, 198);
}



