.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.photo-gallery{
  width: 90%;
  margin: auto;
}

.photo-bodies{
  display: flex;
  justify-content: space-around;
  align-items:  flex-end;
}

.descContainer {
  border: 2px solid black;
  width: 375px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}


